 {% extends "base.html" %}
{% load static %}

{% block styles %}
<style>
    .navbar {
        background-color: red; 
    }

    .navbar-brand, .nav-link {
        color: #fff; /* White text */
    }
</style>    
{% endblock %}

{% block content %} 
<div class="container">
    <nav class="container navbar navbar-expand-lg navbar-light   p-3">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "profile" %}">user Profile</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %} 